<h4> {{ _('General') }}</h4>
<form class='form-horizontal'>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: trimFloats"> {{ _('Round floating point values') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="cncplugin_float_precision">Float Precision</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" class="input-mini text-right" data-bind="enable: trimFloats, value: floatPrecision" id="settings-floatPrecision">
                <span class="add-on">decimal places</span>
            </div>
        </div>
    </div>
</form>
